<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Infeenty_Newsletter>
			<version>1.0.2</version>
		</Infeenty_Newsletter>
	</modules>
	<global>
		<helpers>
			<newsletter>
				<class>Infeenty_Newsletter_Helper</class>
			</newsletter>
		</helpers>
		<resources>
			<infeenty_setup>
				<setup>
					<module>Infeenty_Newsletter</module>
					<class>Infeenty_Newsletter_Model_Resource_Setup</class>
				</setup>
			</infeenty_setup>
			<newsletter_write>
				<connection>
					<use>core_write</use>
				</connection>
			</newsletter_write>
			<newsletter_read>
				<connection>
					<use>core_read</use>
				</connection>
			</newsletter_read>
		</resources>
		<blocks>
			<infeentynewsletter>
				<class>Infeenty_Newsletter_Block</class>
			</infeentynewsletter>
			<newsletter>
				<rewrite>
					<subscribe>Infeenty_Newsletter_Block_Subscribe</subscribe>
				</rewrite>
			</newsletter>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber_grid>Infeenty_Newsletter_Block_Subscriber_Grid</newsletter_subscriber_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<infeentynewsletter>
				<class>Infeenty_Newsletter_Model</class>
			</infeentynewsletter>
			<newsletter>
				<rewrite>
					<subscriber>Infeenty_Newsletter_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
		</models>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<infeenty_newsletter>
					<file>infeenty_newsletter.xml</file>
				</infeenty_newsletter>
			</updates>
		</layout>	
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<infeenty_newsletter after="Mage_Adminhtml">Infeenty_Newsletter_Adminhtml</infeenty_newsletter>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<newsletter>
				<args>
					<modules>
						<Infeenty_Newsletter before="Mage_Newsletter">Infeenty_Newsletter</Infeenty_Newsletter>
					</modules>
				</args>
			</newsletter>
		</routers>
		<layout>
			<updates>
				<infeenty_newsletter>
					<file>infeenty_newsletter.xml</file>
				</infeenty_newsletter>
			</updates>
		</layout>
	</frontend>
</config>